<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Avalara credentials</title>
        <input-field>
            <name>accountNumber</name>
            <label>Account Number</label>
        </input-field>
        <input-field>
            <name>licenseKey</name>
            <label>License Key</label>
        </input-field>
        <input-field type="bool">
            <name>isLiveMode</name>
            <defaultValue>false</defaultValue>
            <label>Is live mode</label>
        </input-field>
        <input-field>
            <name>companyCode</name>
            <label>Company Code Lookup</label>
        </input-field>
        <input-field type="single-select">
            <name>taxCountryRestriction</name>
            <options>
                <option>
                    <id>1</id>
                    <name>No Validation</name>
                </option>
                <option>
                    <id>2</id>
                    <name>USA only</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Canada only</name>
                </option>
                <option>
                    <id>4</id>
                    <name>USA and Canada</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
            <label>Work mode</label>
        </input-field>
    </card>
    <card>
        <title>Order statuses</title>
        <input-field type="single-select">
            <name>orderCancel</name>
            <!--options-->
            <label>Cancel status</label>
        </input-field>
        <input-field type="single-select">
            <name>orderRefund</name>
            <!--options-->
            <label>Refund status</label>
        </input-field>
    </card>
    <card>
        <title>Origin address</title>
        <input-field>
            <name>addressLine1</name>
            <label>Address Line 1</label>
        </input-field>
        <input-field>
            <name>addressLine2</name>
            <label>Address Line 2</label>
        </input-field>
        <input-field>
            <name>addressLine3</name>
            <label>Address Line 3</label>
        </input-field>
        <input-field>
            <name>city</name>
            <label>City</label>
        </input-field>
        <input-field>
            <name>postalCode</name>
            <label>Post code</label>
        </input-field>
        <input-field>
            <name>region</name>
            <label>Region</label>
        </input-field>
        <input-field>
            <name>country</name>
            <label>Country</label>
        </input-field>
    </card>
</config>
