<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Avalara credentials</title>
        <input-field>
            <name>accountNumber</name>
            <label>Account Number</label>
        </input-field>
        <input-field>
            <name>licenseKey</name>
            <label>License Key</label>
        </input-field>
        <component name="avalara-api-test-button">
            <name>apiTest</name>
            <label>Test connection</label>
        </component>
        <input-field type="bool">
            <name>isLiveMode</name>
            <defaultValue>false</defaultValue>
            <label>Is live mode</label>
        </input-field>
        <input-field>
            <name>companyCode</name>
            <label>Company Code Lookup</label>
        </input-field>
        <input-field type="single-select">
            <name>taxCalculationMode</name>
            <options>
                <option>
                    <id>1</id>
                    <name>No tax calculation</name>
                </option>
                <option>
                    <id>2</id>
                    <name>USA only</name>
                </option>
                <option>
                    <id>3</id>
                    <name>Canada only</name>
                </option>
                <option>
                    <id>4</id>
                    <name>USA and Canada</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
            <label>Tax calculation mode</label>
        </input-field>
        <input-field type="bool">
            <name>sendGetTaxOnly</name>
            <defaultValue>false</defaultValue>
            <label>Send get tax only (no cancel, refund and commit calls)</label>
        </input-field>
        <input-field type="bool">
            <name>addressValidationRequired</name>
            <defaultValue>false</defaultValue>
            <label>Is customer address validation required</label>
        </input-field>
        <input-field type="bool">
            <name>blockCartOnError</name>
            <defaultValue>false</defaultValue>
            <label>Block cart if AvaTax is not available</label>
        </input-field>
        <input-field type="float">
            <name>connectionTimeout</name>
            <defaultValue>30</defaultValue>
            <label>Connection timeout (sec)</label>
            <helpText>If within this period of time there’s no response from Avalara request will be considered as fail.</helpText>
        </input-field>
        <input-field type="bool">
            <name>headlessMode</name>
            <defaultValue>false</defaultValue>
            <label>Headless mode</label>
        </input-field>
        <input-field type="single-select">
            <name>logLevel</name>
            <options>
                <option>
                    <id>DEBUG</id>
                    <name>DEBUG</name>
                </option>
                <option>
                    <id>ERROR</id>
                    <name>ERROR</name>
                </option>
                <option>
                    <id>INFO</id>
                    <name>INFO</name>
                </option>
            </options>
            <defaultValue>INFO</defaultValue>
            <label>Choose the loglevel of Avalara non-error messages</label>
        </input-field>
    </card>
    <card>
        <title>Order statuses</title>
        <input-field type="single-select">
            <name>orderCancel</name>
            <options><option><id>018ed23ae07d70a9900d89c126f0345d</id><name>Offen</name></option><option><id>018ed23ae07d70a9900d89c127286903</id><name>Abgeschlossen</name></option><option><id>018ed23ae07d70a9900d89c12774f17e</id><name>In Bearbeitung</name></option><option><id>018ed23ae07d70a9900d89c127b0c223</id><name>Abgebrochen</name></option></options>
            <label>Cancel status</label>
        </input-field>
        <input-field type="single-select">
            <name>orderRefund</name>
            <options><option><id>018ed23ae07d70a9900d89c126f0345d</id><name>Offen</name></option><option><id>018ed23ae07d70a9900d89c127286903</id><name>Abgeschlossen</name></option><option><id>018ed23ae07d70a9900d89c12774f17e</id><name>In Bearbeitung</name></option><option><id>018ed23ae07d70a9900d89c127b0c223</id><name>Abgebrochen</name></option></options>
            <label>Refund status</label>
        </input-field>
    </card>
    <card>
        <title>Origin address</title>
        <input-field>
            <name>addressLine1</name>
            <label>Address Line 1</label>
        </input-field>
        <input-field>
            <name>addressLine2</name>
            <label>Address Line 2</label>
        </input-field>
        <input-field>
            <name>addressLine3</name>
            <label>Address Line 3</label>
        </input-field>
        <input-field>
            <name>city</name>
            <label>City</label>
        </input-field>
        <input-field>
            <name>postalCode</name>
            <label>Post code</label>
        </input-field>
        <input-field>
            <name>region</name>
            <label>Region</label>
        </input-field>
        <input-field>
            <name>country</name>
            <label>Country</label>
        </input-field>
        <component name="avalara-address-test-button">
            <name>addressTest</name>
            <label>Test address</label>
        </component>
    </card>
</config>
