{% block avalara_test_page %}
    <sw-page class="avalara-test-page">
        {% block avalara_test_page_smart_bar_actions %}
            <template slot="smart-bar-actions">
                <sw-button variant="primary" @click="onClick()">
                    {{ $t('avalara-test.page.addButtonText') }}
                </sw-button>
            </template>
        {% endblock %}
        <template slot="content">
            <div id="testResult"></div>
        </template>
    </sw-page>
{% endblock %}
