.sw-extension-config {
  .sw-system-config:has(.avalara-settings-link) {
    .sw-card-wrapper, .sw-system-config__global-sales-channel-switch {
      display: none;
    }

    .sw-card-wrapper:has(.avalara-settings-link) {
      display: block;
    }
  }
}

.mopt-avalara-settings-page {

  .sw-card-wrapper, .sw-system-config__global-sales-channel-switch {
    display: block;
  }
  .sw-card-wrapper:has(.avalara-settings-link) {
    display: none;
  }
}